In [3]:
import pandas as pd
vert_data = pd.read_csv('vertebral+column/column_3C.dat')
vert_data

      63.03 22.55 39.61 40.48 98.67 -0.25 DH
0        39.06 10.06 25.02 29 114.41 4.56 DH
1    68.83 22.22 50.09 46.61 105.99 -3.53 DH
2     69.3 24.65 44.31 44.64 101.87 11.21 DH
3      49.71 9.65 28.32 40.06 108.17 7.92 DH
4     40.25 13.92 25.12 26.33 130.33 2.23 DH
..                                       ...
304      47.9 13.62 36 34.29 117.45 -4.25 NO
305  53.94 20.72 29.22 33.22 114.37 -0.42 NO
306  61.45 22.69 46.17 38.75 125.67 -2.71 NO
307    45.25 8.69 41.58 36.56 118.55 0.21 NO
308    33.84 5.07 36.64 28.77 123.95 -0.2 NO

[309 rows x 1 columns]

In [4]:
some_data = pd.read_csv('wine.csv')
some_data

,class,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,0D280_0D315_of_diluted_wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

Partition of the data

In [5]:
import sklearn
print (sklearn.__version__)

0.22.1